server:
  tomcat:
    uri-encoding: UTF-8
    max-threads: 1000
    min-spare-threads: 30
  port: 8010
  connection-timeout: 5000ms
  servlet:
    context-path: /readwrite
spring:
  # dev|test|prod
  profiles:
    active: dev
  # jackson
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      enabled: true
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
    publisher-confirms: true
    publisher-returns: true

mybatis:
  mapperLocations: classpath:mapper/*.xml
  typeAliasesPackage: main.java.com.zhiyun.readwrite.dao
  mapperScanPackage: main.java.com.zhiyun.readwrite.dao
  configLocation: classpath:/mybatis-config.xml


